<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <title>Projects</title>
</head>

<body>
  <div class="tab-container">
    <input type="checkbox" id="toggle" class="toggle-input">
    <label for="toggle" class="toggle-label">☰ Menu</label>
    <nav id="tab-content" class="tab-content">
      <h4>
        <a href="/">Home</a>
        <a href="/about">About Me</a>
        <a href="/contact">Contact</a>
        <a href="/projects">Projects</a>
      </h4>
    </nav>
  </div>
  <h1>My Projects</h1>

  <footer>
    <p>&copy; 2024 by Tanisha Zaman</p>
    <nav>
      <div class="footer-links">
        <a href="/">Home</a>
        <a href="/about">About Me</a>
        <a href="/contact">Contact</a>
        <a href="/projects">Projects</a>
      </div>
    </nav>
  </footer>
</body>
</html>
